.addPost{
    border-radius: 8px;
    padding: 2rem 2rem 1rem 2rem;
    margin-bottom: 1.5rem;
}

.postButton{
    display: flex;
    justify-content: space-between;
}

.image_preview{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }

  .image_preview img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }