.postContainer{
    border-radius: 8px;
    margin: 1rem 0 1rem 0;
    padding: 1.5rem;
}

.request-box{
    background-color: #D9D9D9;
    border-radius: 4px;
    padding: 1.5rem 1rem 1.5rem 1rem;
    text-align: center;
}

.user-photo{
    border-radius: 50%;
    width: 4rem;
}

.user-detail{
    color: rgba(159, 149, 149, 1);
    font-size: 15px;
}
