.addPost{
    border-radius: 8px;
    padding: 2rem 2rem 1rem 2rem;
    margin-bottom: 1.5rem;
}

.search-image{
    width: 100%;
}

.preview{
    margin-top: 1.4rem;
}

.companyLogo{
    width: 60%;
}

.designation{
    text-transform: uppercase;
}

.buttonside{
    text-align: end;
}